@model ProjectoFinal_LR.Models.Client

@{
    ViewData["Title"] = "Details";
}


<div class="section-header">
    <h1>Clientes</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/Home/Index">Início</a></div>
        <div class="breadcrumb-item active"><a asp-controller="Client" asp-action="List">Lista</a></div>
        <div class="breadcrumb-item">Detalhes</div>
    </div>
</div>
<div class="section-body">
    <h2 class="section-title">Detalhes cliente</h2>
    <div class="row">
        <div class="col-12">
             <div class="card card-primary">
                  <div class="card-body">
                    <div class="col-6">
                        <ul class="list-group">
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.Name)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.Name)
                            </span>
                          </li>
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.Address)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.Address)
                            </span>
                          </li>
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.City)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.City)
                            </span>
                          </li>
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.Phone)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.Phone)
                            </span>
                          </li>
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.Email)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.Email)
                            </span>
                          </li>
                          <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                                @Html.DisplayNameFor(model => model.TaxNumber)
                            <span class="badge badge-primary badge-pill">
                                @Html.DisplayFor(model => model.TaxNumber)
                            </span>
                          </li>
                        </ul>
                     </div>
                     <div class="col-12">
                        <div class="card-footer d-flex justify-content-between align-items-center mt-5 ">
                            <div>
                                <a asp-controller="Client" asp-action="List">Voltar à lista</a>
                            </div>
                            <div>
                                <a asp-action="Edit" class="btn btn-success" asp-route-idClient="@Model.IdClient"><i class="fa-solid fa-pen-to-square"></i></a>
                            </div>
                        </div>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>

